@(loginForm: Form[(String,String)])(implicit flash: Flash)

<header>
    <a href="@routes.ConfigUI.index" id="logo"><span>home</span></a>
</header>

@main("login") {
@helper.form(routes.Auth.authenticate) {
    <h1>Sign in</h1>

    @loginForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
    }

    @loginForm.errors.foreach { error =>
        <p class="error">
            @error.message
        </p>
    }


    @loginForm("email").error.map { error =>
        <p class="error">
            @error.message
        </p>
    }
    <p>
        <input type="email" name="email" placeholder="Email" id="email" value="@loginForm("email").value">
    </p>
    <p>
        <input type="password" name="password" id="password" placeholder="Password">
    </p>
    <p>
        <button type="submit" id="loginbutton">Login</button>
    </p>
}
}

